openapi: 3.0.0
info:
  title: SWAPI (Star Wars API)
  description: 'This OAS3 document (f.k.a. Swagger) describes the Star Wars API, and can be used to import the API into Axway Amplify. A few changes with Anthony Badger. Now we''ve added even more fun features, including API docs for v.34!'
  version: 0.35.0
servers:
  - url: 'https://swapi.dev/api'
    description: 'The above resource is provided by the owner of Swapi, and is not an Axway resource.'
paths:
  /people:
    get:
      summary: Returns a list of People.
      description: Famous characters from the Star Wars film series.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /planets:
    get:
      summary: Returns a list of Planets.
      description: Famous Planets from the Star Wars Universe.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  '/people/{personId}':
    parameters:
      - name: personId
        in: path
        required: true
        description: A numerical integer that identifies the specific Star Wars Character.
        schema:
          type: integer
    get:
      summary: Returns a list of People.
      description: 'Returns a specific character from the Star Wars film series based on personId, a numerical identifier.'
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /starships:
    get:
      summary: Returns a list of Star Ships
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-starships
      parameters: []
      description: Retrieves a list of all star wars Star Ships.
  '/starships{starshipId}':
    get:
      summary: Returns a list of Star Ships
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-starships
      parameters: []
      description: Retrieves a particular star wars Star Ship by ID.
    parameters:
      - schema:
          type: string
        name: starshipId
        in: path
        required: true
