openapi: 3.0.0
info:
  title: SWAPI (Star Wars API)
  description: |-
    This OAS3 document (f.k.a. Swagger) describes the Star Wars API, and can be used to import the API into Axway Amplify.

    Now we've added even more fun features, including API docs and linting/badging!

    ![](https://www.tmforum.org/wp-content/uploads/2020/11/APIBadge.wShadow.GOLD_.png)

    Version 91 is now here on Wednesday 25th.
  version: '0.91'
  contact:
    name: David Luke
    email: dluke@axway.com
servers:
  - url: 'https://swapi.dev/api'
    description: 'The above resource is provided by the owner of Swapi, and is not an Axway resource.'
paths:
  /people:
    get:
      summary: Returns a list of People.
      description: Returns a list of characters from the Star Wars film series.
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                example-1:
                  value:
                    - string
      operationId: get-people
      tags:
        - People
  '/people/{personId}':
    parameters:
      - name: personId
        in: path
        required: true
        description: A numerical integer that identifies the specific Star Wars Character.
        schema:
          type: integer
    get:
      summary: Returns a list of People.
      description: 'Returns a specific character from the Star Wars film series based on personId, a numerical identifier.'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-people-by-id
      tags:
        - People
  /planets:
    get:
      summary: Returns a list of Planets.
      description: Returns a list of planets from the Star Wars Universe.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-planets
      tags:
        - Planets
  /species:
    get:
      summary: Returns a list of Species
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-species
      description: Returns a list of Star Wars species.
      tags:
        - Species
  /starships:
    get:
      summary: Returns a list of Star Ships
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-starships
      parameters: []
      description: Retrieves a list of Star Wars Star Ships.
      tags:
        - Starships
  '/species/{speciesId}':
    get:
      summary: Returns an Individual Species
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-species-by-id
      description: Returns a Star Wars species by ID.
      tags:
        - Species
    parameters:
      - schema:
          type: string
        name: speciesId
        in: path
        required: true
  '/starships/{starshipId}':
    get:
      summary: Returns a Star Ship by ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-starships-by-id
      parameters: []
      description: Retrieves a particular star wars Star Ship by ID.
      tags:
        - Starships
    parameters:
      - schema:
          type: string
        name: starshipId
        in: path
        required: true
  /films:
    get:
      summary: Returns a list of Star Wars films
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples: {}
      operationId: get-films
      description: Returns a list of Star Wars movies.
      tags:
        - Films
tags:
  - name: Films
  - name: People
  - name: Planets
  - name: Species
  - name: Starships
